@tailwind base;
@tailwind components;
@tailwind utilities;

/* My Colors */
/* Blue */
/* #17c1ff */
/* Green */
/* #159e6e */

/* Button Text Color */
button {
  color: white;
}

/* Browser autofill input background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(17 24 39 / var(--tw-bg-opacity)) inset !important;
  -webkit-text-fill-color: green;
}

/* Outline None */
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Scroll Smooth */
* {
  scroll-behavior: smooth !important;
  -webkit-scroll-behavior: smooth !important; /* other browsers */
}

/* Home Animation and About Animation */
.slide-in {
  transform: translateX(0);
  opacity: 1;
}

/* SocialMedia animation */
.social-hide > div {
  transform: scale(0);
}

.social-show > div {
  transform: scale(0.9);
}

/* TechStack, Experience, Education and Projects animation */
.pop-down {
  opacity: 0;
  scale: 0;
}

.pop-up {
  opacity: 1;
  scale: 1;
}

.pop-down-child > div {
  opacity: 0;
  scale: 0;
}

.pop-up-child > div {
  opacity: 1;
  scale: 1;
}
